<!--
  templateType: page
  label: Quantum Playbook / Guide
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}
{% block body %}
<main>
  {% dnd_area "main" label="Main content" %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-hero", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-toc", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-chapter", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section background="alt" %}
      {% dnd_module path="../modules/quantum-pullquote", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-chapter", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section background="alt" %}
      {% dnd_module path="../modules/quantum-stats-band", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-gated-download", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section background="alt" %}
      {% dnd_module path="../modules/quantum-related-posts", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section %}
      {% dnd_module path="../modules/quantum-cta-band", width=12 %}{% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
</main>
{% endblock %}
